@model WebAutopark.DataAccesLayer.Entities.Vehicle

@{
    ViewData["Title"] = "NewVehicle";
}
<h2>@ViewData["Title"]</h2>

<form asp-action="Create" asp-controller="Vehicle">
    <div>
        <div class="form-group">
            <label asp-for="Model"></label>
            <input type="text" asp-for="Model" class="form-control form-control-sm" />
        </div>
        <div class="form-group">
            <label asp-for="YearOfIssue"></label>
            <input asp-for="YearOfIssue" class="form-control  form-control-sm" />
        </div>
        <div class="form-group">
            <label asp-for="Weight"></label>
            <input asp-for="Weight" class="form-control  form-control-sm" />
        </div>
        <div class="form-group">
            <label asp-for="TankCapacity"></label>
            <input asp-for="TankCapacity" class="form-control  form-control-sm" />
        </div>
        <div class="form-group">
            <label asp-for="LicensePlat"></label>
            <input asp-for="LicensePlat" class="form-control  form-control-sm" />
        </div>
        <div class="form-group">
            <label asp-for="Mileage"></label>
            <input asp-for="Mileage" class="form-control  form-control-sm" />
        </div>
        <div class="form-group">
            <label asp-for="Color"></label>
            <input asp-for="Color" class="form-control  form-control-sm" />
        </div>
        <div class="form-group">
            <label asp-for="VehicleTypeId"></label>
            <input asp-for="VehicleTypeId" class="form-control  form-control-sm" />
        </div>
        <div class="form-group">
            <input type="submit" value="Сохранить" class="btn btn-outline-secondary" />
        </div>
    </div>
</form>

<div>
    <a asp-controller="Vehicle" asp-action="Index">Вернуться к списку</a>
</div>