@model IEnumerable<WebAutopark.Models.OrderViewModel>

@{
    ViewData["Title"] = "ViewOrders";
}

<hr />
<h4 class="text-center my-1">Details list</h4>
<hr />
<table class="table table-striped table-borderless table-sm">
    <thead class="thead-light">
        <tr>
            <th>
                OrderId
            </th>
            <th>
                VehicleId
            </th>
            <th>
                Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.OrderId
                </td>
                <td>
                    @item.VehicleId
                </td>
                <td>
                    @item.Date
                </td>
                <td>
                    <a asp-controller="Order" class="btn btn-outline-secondary" asp-action="OrderInformation" asp-route-orderId="@item.OrderId">Info</a>
                </td>
            </tr>
        }
    </tbody>
</table>