@{
    ViewData["Title"] = "Home Page";
}
<div class="m-4">
    <div class="d-inline-block">
        <a asp-controller="Vehicle" asp-action="Index" class="btn btn-outline-info">Vehicles</a>
    </div>
    <div class="d-inline-block">
        <a asp-controller="VehicleType" asp-action="Index" class="btn btn-outline-info">VehicleTypes</a>
    </div>
    <div class="d-inline-block">
        <a asp-controller="Detail" asp-action="Index" class="btn btn-outline-info">Details</a>
    </div>
</div>
