@model WebAutopark.Models.OrderElementViewModel
@{
    ViewData["Title"] = "Delete orderElement";
}
<h2>@ViewBag.Title</h2>

<form asp-action="Delete" asp-controller="OrderElement">
    <div>
        <div class="validation" asp-validation-summary="ModelOnly"></div>

        <div>
            <h6 class="d-inline-block">OrderElementId:</h6>
            <p class="m-2 d-inline-block">@Model.OrderElementId</p>
        </div> 

        <input type="hidden" asp-for="OrderElementId" />
        <input type="hidden" asp-for="OrderId" />
        <input type="hidden" asp-for="OrderElementId" />
        <input type="hidden" asp-for="DetailId" />
        <input type="hidden" asp-for="Detail" />
        <input type="hidden" asp-for="Quantity" />

        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-outline-secondary" />
        </div>
    </div>
</form>